<div class="my-3 p-3 bg-light border rounded shadow-sm">
    <p>
      To be accessed by PRIMED members, a workspace must have a valid, primary Signed Agreement from the study whose data it contains.
      If that is the case, the CDSA group should be in the auth domain of the workspace.
      The audit does not check that the workspace is shared with the CDSA group.
    </p>
    <p>The audit result categories are explained below.
      <ul>

        <li><b>Verified</b> includes the following:</li>
          <ul>
            <li>CDSA workspaces with an active primary Data Affiliate Agreement, and the PRIMED CDSA group <b>is</b> in the auth domain of the workspace.</li>
            <li>CDSA workspaces without an active primary Data Affiliate Agreement, and the PRIMED CDSA group <b>is not</b> in the auth domain of the workspace.</li>
          </ul>
        <li><b>Needs action</b> includes the following:</li>
        <ul>
          <li>CDSA workspaces with an active primary Data Affiliate Agreement, but the PRIMED CDSA group <b>is not</b> in the auth domain of the workspace.</li>
          <li>CDSA workspaces with an inactive primary Data Affiliate Agreement, and the PRIMED CDSA group <b>is</b> in the auth domain of the workspace.</li>
        </ul>

        <li><b>Errors</b></li>
        <ul>
          <li>The PRIMED CDSA group is in the auth domain of the workspace, but there is no primary Signed Agreement from the study.</li>
        </ul>
      </ul>
    </p>
    <p>Any errors should be reported!</p>
  </div>
