<div class="my-3 p-3 bg-light border rounded shadow-sm">
    <p>
      To be added to a Data Affiliate Agreement uploader group, a user must have linked their AnVIL account and be named as an uploader on that agreement.
      Uploaders only have access to workspaces covered under their CDSA.
    </p>
    <p>The audit result categories are explained below.
      <ul>

        <li><b>Verified</b> includes the following:</li>
          <ul>
            <li>A named uploader who <strong>has not</strong> linked their AnVIL account.</li>
            <li>A named uploader who has linked their AnVIL account and is in the AnVIL upload group for this agreement.</li>
            <li>A named uploader who <strong>has not</strong> linked their AnVIL account and <strong>is not</strong> in the AnVIL upload group.</li>
          </ul>

        <li><b>Needs action</b> includes the following:</li>
        <ul>
          <li>A named uploader who has linked their AnVIL account and <strong>is not </strong> in the AnVIL upload group for this agreement.</li>
          <li>An account in the AnVIL upload group for this agreement that <strong>is not</strong> linked to a named uploader.</li>
      </ul>

        <li><b>Errors</b></li>
        <ul>
          <li>A different group is in the AnVIL access group for this agreement.</li>
        </ul>
      </ul>
    </p>
    <p>Any errors should be reported!</p>
  </div>
