{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row row-cols-1 rows-cols-sm-2 row-cols-md-2 g-2 mt-3">
    <div class="col">
      <div class='card card-shadow-sm'>
        <div class='card-header'>
          <h3><i class="bi bi-person-circle"></i> {% if object == request.user %}My{% else %}User{% endif %} Profile</h3>
        </div>
        <div class='card-body'>
          <ul class="list-group">
            <li class='list-group-item'>
            <h5>Username</h5>
            <p>{{ object.username }}</p>
            </li>
            <li class='list-group-item'>
            <h5>Name <i class="bi bi-lock"></i></h5>
            {% if object.name %}
              <p>{{ object.name|default:"Name not currently set" }}</p>
            {% endif %}
            </li>
            <li class='list-group-item'>
            <h5><i class="bi bi-envelope"></i> Email</h5>
            <p>
              {{ object.email }}
              {% if object == request.user %}
              &nbsp;<a class="btn btn-sm btn-secondary" href="{% url 'account_email' %}" role="button">Edit E-Mail</a>
              {% endif %}
            </p>
            </li>
            <li class='list-group-item'>
              <h5><i class="bi bi-globe"></i> Study Site{% if object.study_sites.all.count > 1 %}(s){% endif %} <i class="bi bi-lock"></i></h5>
              {% for ss in object.study_sites.all %}
              <p>&bull; {{ ss.full_name }}</p>
              {% empty %}
              <p>Not set</p>
              {% endfor %}
            </li>
            {% if object == request.user %}
            <p class='alert alert-secondary alert-sm fs-7 mt-3'><i class="bi bi-lock"></i> Update name and study site on the <a href="{{ DRUPAL_SITE_URL }}">main PRIMED CONSORTIUM site</a></p>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class='col'>

      <div class='card card-shadow-sm'>
        <div class='card-header'>
          <h3><i class="bi bi-link-45deg"></i> {% if object == request.user %}My{% else %}User{% endif %} AnVIL Account</h3>
        </div>
        <div class='card-body'>
          {% if object.account %}
            <p><i class="bi bi-check-circle-fill text-success"></i> Profile has a linked AnVIL account established</p>
            <ul class='list-group'>
              <li class='list-group-item'>
                <h5>Account Email</h5>
                {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view %}
                <a href="{{ object.account.get_absolute_url }}">{{ object.account.email }}</a>
                {% else %}
                {{ object.account.email }}
                {% endif %}
              </li>
              {% if object.account.verified_email_entry %}
              <li class='list-group-item'>
                <h5>Verified Date</h5>
                {{ object.account.verified_email_entry.date_verified }}
              </li>
              {% endif %}
            </ul>
          {% elif object.useremailentry_set.all %}
            <ul>
            {% for uee in object.useremailentry_set.all %}
              <li><i class="bi bi-hourglass-split"></i> AnVIL account user email verification in progress for email: {{ uee.email }}
                <ul>
                  <li>Email sent: {{ uee.date_verification_email_sent }}</li>
                  <li>Email verified: {{ uee.date_verified|default:"Not Yet Verified" }}
                </ul>
              </li>
            {% endfor %}
            </ul>
            {% if object == request.user %}
            <a class="btn btn-secondary" href="{% url 'anvil_consortium_manager:accounts:link' %}"><i class="bi bi-link"></i> Link your AnVIL account now</a>
            {% endif %}
          {% else %}
            <p><i class="bi bi-exclamation-circle-fill text-danger"></i>
            Profile does not yet have a linked AnVIL account.</p>
            {% if object == request.user %}
            <a class="btn btn-secondary" href="{% url 'anvil_consortium_manager:accounts:link' %}"><i class="bi bi-link"></i> Link your AnVIL account now</a>
            {% endif %}
          {% endif %}
          <p class='alert alert-secondary mt-3'><i class="bi bi-question-circle-fill"></i> If this is incorrect, please contact the CC at <a href="mailto:{{ DCC_CONTACT_EMAIL }}">{{ DCC_CONTACT_EMAIL }}</a></p>
        </div><i class="bi bi-c-square"></i>
      </div>

      {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_view or object == request.user %}

      <div class='card card-shadow-sm mt-3'>
        <div class='card-header'>
          <h3><i class="bi bi-clipboard-check"></i> {% if object == request.user %}My{% else %}User{% endif %} data access mechanisms </h3>
        </div>
        <div class='card-body'>

          <ul class="list-group mb-3">
            <li class="list-group-item"><h5>dbGaP applications</h5></li>
            {% if dbgap_applications %}
              {% for app in dbgap_applications %}
              <li class="list-group-item">
                  {% if object == app.principal_investigator %}Principal Investigator{% else %}Collaborator{% endif %}:
                <a href="{{ app.get_absolute_url }}">{{ app }}</a>
              </li>
              {% endfor %}
            {% else %}
              <li class="list-group-item">No dbGaP applications for PRIMED</li>
            {% endif %}
          </ul>

          <ul class="list-group mb-3">
            <li class="list-group-item"><h5 class>Consortium data sharing agreements</h5></li>
            <li class="list-group-item"><i class="bi bi-cone-striped"> </i>Coming soon!</li>
          </ul>
          <p class='alert alert-secondary'><i class="bi bi-question-circle-fill"></i> If this is incorrect, please contact the CC at <a href="mailto:{{ DCC_CONTACT_EMAIL }}">{{ DCC_CONTACT_EMAIL }}</a></p>
        </div>
      </div>

      {% endif %}

    </div>
  </div>

</div>
{% endblock content %}
