<div class="my-3 p-3 bg-light border rounded shadow-sm">
    <p>
      To be added to a dbGaP access group, a user must have linked their AnVIL account and be named as a collaborator on a dbGaP application.
      Access to workspaces containing data for study-consent groups that are approved for this application is controlled by adding users' AnVIL accounts to the dbGaP access group for the application.
    </p>
    <p>The audit result categories are explained below.
      <ul>

        <li><b>Verified</b> includes the following:</li>
          <ul>
            <li>XXX</li>
          </ul>

        <li><b>Needs action</b> includes the following:</li>
        <ul>
          <li>XXX</li>
        </ul>

        <li><b>Errors</b></li>
        <ul>
          <li>XXX</li>
        </ul>
      </ul>
    </p>
    <p>Any errors should be reported!</p>
  </div>
