// project specific CSS goes here

// import override bootstrap variables
@import "./custom_bootstrap_vars";

// import required bootstrap
@import "../bootstrap/scss/bootstrap";

// Custom Gregor theme
h1, h2, h3, h4, h5, h6 {
  color: $dark;
}

.col {
  padding: 1rem;
}

a {
  color: $teal;
  &:hover, &:focus {
    background-color: $light;
    color: $teal;
  }
}

#top-nav {
  margin: 0;
  padding: .2rem;
  background: $top-nav-bg;
  box-shadow: inset 0 -2px 2px $top-nav-box-shadow;
  font-size: .8em;

  .nav-link {
    font-weight: bold;
  }

  a:hover,
  a:focus {
  background-color: $light;
  color: unset;
  }
}

a.navbar-brand:hover {
  background-color: unset;
}

.nav-link {
  color: $dark;
}

li.nav-item a:hover,
li.nav-item a:focus {
  background-color: $dark;
  color: $white;
}

.btn-primary {
  background: $primary;
  color: $white;
  border-color: unset;

  &:hover, &:focus {
    background-color: $primary !important;
    border-color: $primary;
  }
}


////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

/* allauth */

.socialaccount_providers {
  list-style-type: none;
}
