{% extends "anvil_consortium_manager/base.html" %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Resolve dbGaP collaborator audit{% endblock %}


{% block content %}

<h1>Resolve dbGaP collaborator audit</h1>

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>dbGaP application: <a href="{{ dbgap_application.get_absolute_url }}">{{ dbgap_application }}</a></li>
    <li>User:
      {% if audit_result.user %}
        <a href="{{ audit_result.user.get_absolute_url }}">{{ audit_result.user.name }}</a>
      {% else %}
        &mdash;
      {% endif %}
    </li>
    <li>AnVIL email:
      {% if audit_result.member %}
        <a href="{{ audit_result.member.get_absolute_url }}">{{ audit_result.member }}</a>
      {% else %}
        &mdash;
      {% endif %}
    </li>
  </ul>
</div>

<h2>Audit results</h2>

{% include "dbgap/snippets/collaborator_audit_explanation.html" %}

<div class="card container-fluid mt-3 mb-3">
  <div class="card-body">
    <h5 class="card-title">Result</h5>
    <p class="card-text">{{ audit_result }}</p>
    {% if audit_result.action %}
    <form method="post">

      {% csrf_token %}
      {{ form|crispy }}

      <button type="submit" class="btn btn-primary">{{ audit_result.action }}</button>
    </form>
    {% else %}
    <button type="submit" class="btn btn-primary disabled">No action needed</button>
    {% endif %}
  </div>
</div>

{% endblock content %}
