{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}

{% block title %}dbGaP study accession: {{ object }}{% endblock title %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Studies</dt> <dd class="col-sm-10">
    {% for study in object.studies.all %}
    <a href="{{ study.get_absolute_url }}">{{ study }}</a>{% if not forloop.last %} , {% endif %}
    {% endfor %}
  </dd>
  <dt class="col-sm-2">dbGaP accession</dt> <dd class="col-sm-10">{{ object }}</dd>
  <dt class="col-sm-2">Date created</dt> <dd class="col-sm-10">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-10">{{ object.modified }}</dd>
</dl>

{% endblock panel %}

{% block after_panel %}
  <h3>Workspaces associated with this dbGaP study accession</h3>
  {% render_table workspace_table %}
{% endblock after_panel %}

{% block action_buttons %}
  {% if show_edit_links %}
  <a href="{% url 'dbgap:dbgap_study_accessions:update' dbgap_phs=object.dbgap_phs %}" class="btn btn-secondary" role="button">Update</a>
  </p>
  {% endif %}
{% endblock action_buttons %}
