{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}

{% block title %}dbGaP application {{ object }}{% endblock %}

{% block panel %}
<dl class="row">
  <hr>
  <dt class="col-sm-2">dbGaP PI</dt> <dd class="col-sm-9">{{ object.principal_investigator }}</dd>
  <dt class="col-sm-2">dbGaP Project ID</dt> <dd class="col-sm-9">{{ object.dbgap_project_id }}</dd>
  <dt class="col-sm-2">AnVIL access Group</dt> <dd class="col-sm-9">
    <a href="{{ object.anvil_group.get_absolute_url }}">{{ object.anvil_group }}</a>
  </dd>
  <dt class="col-sm-2">Date created</dt> <dd class="col-sm-9">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-9">{{ object.modified }}</dd>
  <dt class="col-sm-2">Last DAR update</dt> <dd class="col-sm-9">
    {% if latest_snapshot %}
      <a href="{{ latest_snapshot.get_absolute_url }}">{{ last_snapshot.created }}</a>
    {% else %}
      	—
    {% endif %}
  </dd>
</dl>
{% endblock panel %}

{% block after_panel %}
  {% if latest_snapshot %}
    <h3>Data access snapshots</h3>
    {% render_table data_access_snapshot_table %}
  {% endif %}
{% endblock after_panel %}

{% block action_buttons %}
  {% if perms.anvil_consortium_manager.anvil_project_manager_edit %}
    <p>
      <a href="{% url 'dbgap:dbgap_applications:dbgap_data_access_snapshots:new' dbgap_project_id=object.dbgap_project_id %}" class="btn btn-primary" role="button">Update data access requests</a>
    </p>
  {% endif %}
{% endblock action_buttons %}
