{% extends "anvil_consortium_manager/base.html" %}
{% load django_tables2 %}

{% block title %}{{ object.short_name }}{% endblock %}


{% block content %}

<h1>dbGaP application</h1>

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>Principal Investigator: {{ object.principal_investigator }}</li>
    <li>dbGaP Project ID: {{ object.dbgap_project_id }}</li>
    <li>AnVIL Group: <a href="{{ object.anvil_group.get_absolute_url }}">{{ object.anvil_group }}</a></li>
    <li>Last DAR update: {{ last_update|default:"Never" }}</li>
  </ul>
</div>

<p>
  <a href="{% url 'dbgap:dbgap_applications:dbgap_data_access_snapshots:new' dbgap_project_id=object.dbgap_project_id %}" class="btn btn-primary" role="button">Update data access requests</a>
</p>


{% if has_snapshot %}
  <h2>Data access requests in this application</h2>
  {% render_table data_access_request_table %}
{% endif %}


{% endblock content %}
