{% extends "anvil_consortium_manager/base.html" %}
{% load django_tables2 %}

{% block title %}DAR snapshot audit{% endblock %}


{% block content %}

<h1>dbGaP application audit</h1>

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>dbGaP application: <a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li>Latest snapshot: <a href="{{ latest_snapshot.get_absolute_url }}">{{ latest_snapshot.created }}</a></li>
  </ul>
</div>

{% if latest_snapshot %}
<h2>Audit results</h2>

{% include "dbgap/snippets/audit_explanation.html" %}

{% include "__audit_tables.html" with verified_table=verified_table needs_action_table=needs_action_table errors_table=errors_table %}

{% else %}
<div class="alert alert-danger" role="alert">
  No data access snapshots have been added for this dbGaP Application.
</div>
{% endif %}

{% endblock content %}
