{% extends "anvil_consortium_manager/base.html" %}
{% load crispy_forms_tags %}

{% block title %}New dbGaP application{% endblock %}


{% block content %}

<h1>New dbGaP application</h1>

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <p>Before creating a new dbGaP application using this form, check the following requirements:</p>
  <ol>
    <li>The PI is on the <a href="https://primedconsortium.org/eligibility">PRIMED eligibility list</a>.</li>
    <li>The application has the <a href="https://docs.google.com/document/d/1EuR4-0aG2hacD69hQorjV9unPfW-mqrDroNF6Y4b7O4/preview#heading=h.thvw913t1s1q">correct title</a>: "NIH PRIMED Consortium Coordinated Application".</li>
    <li>The application has the correct <a href="https://docs.google.com/document/d/14CyFC4fulAyxBvnNVCw74hrIcyAiQ4em/edit">Research Use Statement</a>.</li>
  </ol>

  <p>Please manually verify that these requirements are met before saving a record of the application with this form.</p>
</div>

  <form method="post">

    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Save dbGaP application</button>
  </form>

{% endblock content %}


{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
