{% extends "anvil_consortium_manager/base.html" %}
{% load django_tables2 %}

{% block title %}{{ object.short_name }}{% endblock %}


{% block content %}

<h1>dbGaP application</h1>

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>Principal Investigator: {{ object.principal_investigator }}</a></li>
    <li>Project ID: {{ object.project_id }}</li>
  </ul>
</div>

{% if show_add_dars_button %}
  <p>
    <a href="{% url 'dbgap:dbgap_applications:dbgap_data_access_requests:new_from_json' dbgap_application_pk=object.pk %}" class="btn btn-primary" role="button">Add data access requests</a>
  </p>
{% endif %}

{% if show_dars %}
  <h2>Data access requests in this application</h2>
  {% render_table data_access_request_table %}
{% endif %}


{% endblock content %}
