{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}

{% block title %}dbGaP study accession: {{ object }}{% endblock title %}

{% block panel %}
  <ul>
    <li>
      Studies:
      {% for study in object.studies.all %}
      <a href="{{ study.get_absolute_url }}">{{ study }}</a>{% if not forloop.last %} , {% endif %}
      {% endfor %}
    </li>
    <li>dbGaP accession: {{ object }}</li>
    <li>Date created: {{ object.created }}</li>
    <li>Date modified: {{ object.modified }}</li>
  </ul>
{% endblock panel %}

{% block after_panel %}
  <h3>Workspaces associated with this dbGaP study accession</h3>
  {% render_table workspace_table %}
{% endblock after_panel %}
