
{% load static i18n %}<!DOCTYPE html>
{% load render_table from django_tables2 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>Audit report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="container">

{% block content %}

      <h1>dbGaP access audit report</h1>

      <p>Please visit {{url}} to resolve.</p>

      <h2>Verified</h2>
      <div class="container">
        {{ data_access_audit.verified|length }} record(s) verified.
      </div>

      <h2>Needs action - {{data_access_audit.needs_action|length }} record(s)</h2>
      <div class="container">
        <ul>
        {% for record in data_access_audit.needs_action %}
          <li>{{ record|stringformat:'r' }}</li>
        {% endfor %}
        </ul>
      </div>

      <h2>Errors - {{data_access_audit.errors|length }} record(s)</h2>
      <div class="container">
        <ul>
          {% for record in data_access_audit.errors %}
            <li>{{ record|stringformat:'r' }}</li>
          {% endfor %}
          </ul>
        </div>


{% endblock content %}

    </div>
  </body>
</html>
