<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    dbGaP
  </a>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
    <li>
      <a class="dropdown-item" href="{% url 'dbgap:dbgap_study_accessions:list' %}">List dbGaP study accessions</a>
    </li>
    {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
      <li>
        <a class="dropdown-item" href="{% url 'dbgap:dbgap_study_accessions:new' %}">Add a new dbGaP study accession</a>
      </li>
    {% endif %}

    <li><hr class="dropdown-divider"></li>

    <li>
      <a class="dropdown-item" href="{% url 'dbgap:dbgap_applications:list' %}">List dbGaP applications</a>
    </li>
    {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
      <li>
        <a class="dropdown-item" href="{% url 'dbgap:dbgap_applications:new' %}">Add a new dbGaP application</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'dbgap:dbgap_applications:update_dars' %}">Update DARs for all applications</a>
      </li>
    {% endif %}

    </ul>
  </li>
