{% extends "anvil_consortium_manager/base.html" %}

{% block title %}dbGaP records{% endblock %}

{% block content %}
<h1>dbGaP records</h1>


   <div class="row g-4 py-2 mx-4 row-cols-2">

     <div class="col d-flex align-items-start">
       <div class="icon-square text-dark flex-shrink-0 me-3">
         <h2><span class="fa-solid fa-handshake-simple mx-2"></span></h2>
       </div>
       <div>
         <h2>dbGaP coordinated applications</h2>
         <p>View dbGaP coordinated applications for PRIMED.</p>
         <a href="#" class="btn btn-primary">
           View applications
         </a>
       </div>
     </div>

   </div>


{% endblock content %}
