{% extends "anvil_consortium_manager/base.html" %}

{% block title %}Collaborative Analysis Workspace audit{% endblock %}


{% block content %}

<h1>Collaborative analysis workspace audit</h1>

<div class="my-3 p-3 bg-light border rounded shadow-sm">
  <ul>
    <li>Collaborative analysis workspace: <a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  </ul>
</div>

<h2>Audit results</h2>

{% include "collaborative_analysis/snippets/audit_explanation.html" %}

{% include "__audit_tables.html" with verified_table=verified_table needs_action_table=needs_action_table errors_table=errors_table %}

{% endblock content %}
