{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}

{% block title %}DUO permission {{ object }}{% endblock title %}

{% block after_title %}
  <a class="btn btn-light" href="{{ object.get_ols_url }}" role="button" target="_blank">
    <span class="fa-solid fa-arrow-up-right-from-square mx-1"></span>
    View on OLS
  </a>
{% endblock after_title %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Identifier</dt> <dd class="col-sm-10">{{ object.identifier }}</dd>
  <dt class="col-sm-2">Term</dt> <dd class="col-sm-10">{{ object.term }}</dd>
  <dt class="col-sm-2">Abbreviation</dt> <dd class="col-sm-10">{{ object.abbreviation }}</dd>
  <dt class="col-sm-2">Definition</dt> <dd class="col-sm-10">{{ object.definition }}</dd>
  <dt class="col-sm-2">Comment</dt> <dd class="col-sm-10">{{ object.comment }}</dd>
  <dt class="col-sm-2">Requires disease term?</dt> <dd class="col-sm-10">{{ object.requires_disease_term }}</dd>
</dl>
{% endblock panel %}

{% block after_panel %}

{% include "duo/treequeries_detail.html" %}

{% endblock after_panel %}
