{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}
{% load mptt_tags %}

{% block title %}DUO permission {{ object }}{% endblock %}

{% block panel %}
  <ul>
    <li>Identifier: {{ object.identifier }}</li>
    <li>Abbreviation: {{ object.abbreviation }}</li>
    <li>Term: {{ object.term }}</li>
    <li>Definition: {{ object.definition }}</li>
    <li>Comment: {{ object.comment }}</li>
    <li>Requires disease restriction? {{ object.requires_disease_restriction }}</li>
  </ul>
{% endblock panel %}

{% block after_panel %}

{% include "duo/mptt_detail_tree.html" with nodes=object_list %}

{% endblock after_panel %}
