{% load mptt_tags %}

<div class="borderless">
  <ul class="list-group list-group-flush">
    {% recursetree nodes %}
      <li class="list-group-item border-0">
        {% if node.is_root_node %}
          <i class="bi-arrow-bar-right"></i>
        {% else %}
          <i class="bi-arrow-return-right"></i>
        {% endif %}
        {{node}} (<a href="{{ node.get_absolute_url }}">Details</a>)

        {% if not node.is_leaf_node %}
        <button class="btn btn-light btn-sm rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-tree-{{node.abbreviation}}">
          <i class="bi-plus"></i> {{ node.get_descendant_count }} descendant{{node.get_descendant_count|pluralize}}
        </button>
          <div class="collapse mx-3" id="collapse-tree-{{node.abbreviation}}">
            <ul class="list-group list-group-flush">
                {{ children }}
            </ul>
          </div>
        {% endif %}

      </li>
    {% endrecursetree %}
  </ul>
</div>
