{% extends "anvil_consortium_manager/navbar.html" %}

{% block anvil_consortium_manager_nav_items %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      PRIMED
    </a>

    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'primed_anvil:study_sites:list' %}">List study sites</a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{% url 'primed_anvil:studies:list' %}">List studies</a>
      </li>
      {% if perms.anvil_consortium_manager.anvil_consortium_manager_staff_edit %}
        <li>
          <a class="dropdown-item" href="{% url 'primed_anvil:studies:new' %}">Add a new study</a>
        </li>
      {% endif %}

      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{% url 'primed_anvil:available_data:list' %}">List available data types</a>
      </li>

      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{% url 'duo:data_use_permissions:list' %}">List DUO permissions</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'duo:data_use_modifiers:list' %}">List DUO modifiers</a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{% url 'users:lookup' %}">Look up a user</a>
      </li>

    </ul>
  </li>

  {% include 'dbgap/nav_items.html' %}

  {% include 'cdsa/nav_items.html' %}


  {{ block.super }}


{% endblock anvil_consortium_manager_nav_items %}
