<div>
    {% if record.action %}
    <form
        method="post"
        action="{% url 'collaborative_analysis:audit:resolve' record.workspace.workspace.billing_project.name record.workspace.workspace.name record.member.email %}">

        {% csrf_token %}
        <button
            type="submit"
            class="btn btn-primary btn-sm"
            hx-post="{% url 'collaborative_analysis:audit:resolve' record.workspace.workspace.billing_project.name record.workspace.workspace.name record.member.email %}"
            hx-disabled-elt="this"
            hx-target="closest div"
            hx-swap="innerHTML">
            {{ record.action }}
        </button>
      </form>

    {% else %}
    &mdash;
    {% endif %}
</div>
