{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Please Sign In" %}{% endblock %}

{% block inner %}

<h2 class='text-center'>{% translate "Please Sign In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<div class="text-center socialaccount_ballot">
  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

{% endblock %}
