{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}

{% block title %}Agreement version v{{ object.version }}{% endblock %}

{% block pills %}
  {% if show_deprecation_message %}
<span class="badge bg-danger">
  <span class="fa-solid fa-skull-crossbones me-1"></span>
  Deprecated
</span>
  {% endif %}
{% endblock pills %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Version</dt> <dd class="col-sm-9"> v{{ object.version }}</dd>
  <dt class="col-sm-2">Status</dt><dd class="col-sm-9"> {{ object.get_status_display }}</dd>
  <dt class="col-sm-2">Date modified</dt><dd class="col-sm-9"> {{ object.modified }}</dd>
</dl>
{% endblock panel %}

{% block after_panel %}

<h3>Agreement versions</h3>


<div class="accordion my-3" id="accordionAgreementVersions">
  <div class="accordion-item">
    <h2 class="accordion-header" id="agreements-versions-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#agreements-versions-collapse" aria-expanded="false" aria-controls="signed-agreements-collapse">
        <span class="fa-solid fa-computer mx-2"></span>
        Agreements with this version
        <span class="badge bg-{% if tables.0.rows|length %}primary{% else %}secondary{% endif %} mx-3"> {{tables.0.rows|length}} </span>
      </button>
    </h2>
    <div id="agreements-versions-collapse" class="accordion-collapse collapse" aria-labelledby="agreements-versions-heading">
      <div class="accordion-body">
        {% render_table tables.0 %}
      </div>
    </div>
  </div>
</div>

<h3>Signed agreements</h3>

<div class="accordion my-3" id="accordionSignedAgreements">
  <div class="accordion-item">
    <h2 class="accordion-header" id="signed-agreements-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#signed-agreements-collapse" aria-expanded="false" aria-controls="signed-agreements-collapse">
        <span class="fa-solid fa-computer mx-2"></span>
        Signed agreements with this version
        <span class="badge bg-{% if tables.1.rows|length %}primary{% else %}secondary{% endif %} mx-3"> {{tables.1.rows|length}} </span>
      </button>
    </h2>
    <div id="signed-agreements-collapse" class="accordion-collapse collapse" aria-labelledby="signed-agreements-heading">
      <div class="accordion-body">
        {% render_table tables.1 %}
      </div>
    </div>
  </div>
</div>

{% endblock after_panel %}


{% block action_buttons %}
  {% if show_invalidate_button %}
  <a href="{% url 'cdsa:agreement_versions:invalidate' major_version=object.version %}" class="btn btn-danger" role="button">Invalidate this version</a>
  </p>
  {% endif %}
{% endblock action_buttons %}
