{% extends "anvil_consortium_manager/base.html" %}
{% load django_tables2 %}

{% block title %}CDSA tables{% endblock %}


{% block content %}

<h1>CDSA tables</h1>

<p>Notes:
  <ul>
    <li>We would probably have these on separate pages but this prototype shows them on a single page for now.</li>
    <li>"Group" is ambiguous - can we rename?</li>
    <li>I think we will end up wanting different fields tracked for different types of CDSA? eg linking to a study for a data affiliate component.</li>
  </ul>
</p>

<hr>

<h2>PI table</h2>

<p>
Notes:
  <ul>
    <li>One row per signed/verified CDSA.</li>
    <li>Do we want a foreign key to study (for data affiliates) and to StudySite (for members)?</li>
  </ul>
</p>


{% render_table pi_table %}


<hr>

<h2>List of studies</h2>

<p>
Notes:
  <ul>
    <li>Is this the list of studies that have already contributed data, or those that have signed but not necessarily uploaded any data (or have workspaces)?</li>
    <li>Does this include DATA AFFILIATE COMPONENT, or just DATA AFFILIATE? Right now showing only data affiliate.</li>
    <li>I think this means having three additional models for the different type of CDSA (member, data affiliate, non-data affiliate). Then we can link a data affiliate CDSA to a study.</li>
  </ul>
</p>

{% render_table study_table %}

<hr>

<h2>Full list of authorized accounts</h2>

<p>
Notes:
  <ul>
    <li>"name of user" will be actual names, test data does not have that but real data will.</li>
    <li>"insititution" is the signing insitutition for the CDSA, not the institution of the user.</li>
  </ul>
</p>

{% render_table accounts_table %}


<hr>
<h2>List of CDSA workspaces</h2>

<p>
Notes:
  <ul>
    <li>This is only the workspaces that have been created under the CDSA.</li>
    <li>Include workspaces that are shared as well as those that are <b>not yet</b> shared.</li>
    <li>DUL can be long...</li>
    <li>Should a workspace be linked to its data affiliate (non-component), or all data affiliate+components for that study?</li>
  </ul>
</p>

{% render_table workspace_table %}

{% endblock content %}
