{% extends "anvil_consortium_manager/base.html" %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}CDSA workspace audit{% endblock %}


{% block content %}

<h1>CDSA workspace audit</h1>

<h2>Audit results</h2>

{% include "cdsa/snippets/cdsaworkspace_audit_explanation.html" %}

<div class="card container-fluid mt-3 mb-3">
  <div class="card-body">
    <h5 class="card-title">Result</h5>
    <p class="card-text">{{ audit_result }}</p>
    {% if audit_result.action %}
    <form method="post">

      {% csrf_token %}
      {{ form|crispy }}

      <button type="submit" class="btn btn-primary">{{ audit_result.action }}</button>
    </form>
    {% else %}
    <button type="submit" class="btn btn-primary disabled">No action needed</button>
    {% endif %}
  </div>
</div>


{% endblock content %}
