{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}

{% block pills %}
  {% if show_deprecation_message %}
<span class="badge bg-danger">
  <span class="fa-solid fa-skull-crossbones me-1"></span>
  Deprecated CDSA version
</span>
  {% endif %}
{% endblock pills %}

{% block title %}Data affiliate agreement {{ object }}{% endblock %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Coordinating Center ID</dt> <dd class="col-sm-9">{{ object.signed_agreement.cc_id }}</dd>
  <dt class="col-sm-2">Representative</dt> <dd class="col-sm-9">
    <a href="{{ object.signed_agreement.representative.get_absolute_url }}">{{ object.signed_agreement.representative.name }}</a>
  </dd>
  <dt class="col-sm-2">Representative role</dt> <dd class="col-sm-9">{{ object.signed_agreement.representative_role }}</dd>
  <dt class="col-sm-2">Signing institution</dt> <dd class="col-sm-9">{{ object.signed_agreement.signing_institution }}</dd>
  <dt class="col-sm-2">Primary?</dt> <dd class="col-sm-9">{{ object.signed_agreement.is_primary }}</dd>
  <dt class="col-sm-2">Study review required?</dt> <dd class="col-sm-9">
    {% if object.requires_study_review %}
      Yes <i class="bi bi-check-circle-fill px-2" style="color: green;"></i>
    {% else %}
      No <i class="bi bi-x-circle-fill px-2" style="color: red;"></i>
    {% endif %}
  </dd>
  <dt class="col-sm-2">Agreement version</dt> <dd class="col-sm-9">
    <a href="{{ object.signed_agreement.version.get_absolute_url }}">{{ object.signed_agreement.version }}</a>
  </dd>
  <dt class="col-sm-2">Status</dt> <dd class="col-sm-9">{{ object.signed_agreement.get_status_display }}</dd>
  <dt class="col-sm-2">Date signed</dt> <dd class="col-sm-9">{{ object.signed_agreement.date_signed }}</dd>

  <dt class="col-sm-2">Study</dt> <dd class="col-sm-9">
    <a href="{{ object.study.get_absolute_url }}">{{ object.study }}</a>
  </dd>
  <dt class="col-sm-2">AnVIL access group</dt><dd class="col-sm-9">
    <a href="{{ object.signed_agreement.anvil_access_group.get_absolute_url }}">{{ object.signed_agreement.anvil_access_group }}</a>
  </dd>
  <dt class="col-sm-2">AnVIL upload group</dt><dd class="col-sm-9">
    <a href="{{ object.anvil_upload_group.get_absolute_url }}">{{ object.anvil_upload_group }}</a>
  </dd>

  <hr>

  <dt class="col-sm-2">Date created</dt> <dd class="col-sm-9">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-9">{{ object.modified }}</dd>

</dl>
{% endblock panel %}

{% block after_panel %}

{% if object.additional_limitations %}
<div>
  <div class="card my-3">
    <div class="card-header">
      <span class="fa-solid fa-hand mx-2"></span>
      Additional limitations
    </div>
    <div class="card-body">
      <p>
        {{ object.additional_limitations }}
      </p>
    </div>
  </div>
</div>
{% endif %}

{{ block.super }}

{% endblock after_panel %}


{% block action_buttons %}
  {% if show_update_button %}
  <a href="{% url 'cdsa:signed_agreements:data_affiliates:update' cc_id=object.signed_agreement.cc_id %}" class="btn btn-primary" role="button">Update status</a>
  </p>
  {% endif %}
{% endblock action_buttons %}
