{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load django_tables2 %}

{% block pills %}
  {% if show_deprecation_message %}
<span class="badge bg-danger">
  <span class="fa-solid fa-skull-crossbones me-1"></span>
  Deprecated CDSA version
</span>
  {% endif %}
{% endblock pills %}

{% block title %}Member agreement {{ object }}{% endblock %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Coordinating Center ID</dt> <dd class="col-sm-9">{{ object.signed_agreement.cc_id }}</dd>
  <dt class="col-sm-2">Representative</dt> <dd class="col-sm-9">
    <a href="{{ object.signed_agreement.representative.get_absolute_url }}">{{ object.signed_agreement.representative.name }}</a>
  </dd>
  <dt class="col-sm-2">Representative role</dt> <dd class="col-sm-9">{{ object.signed_agreement.representative_role }}</dd>
  <dt class="col-sm-2">Signing institution</dt> <dd class="col-sm-9">{{ object.signed_agreement.signing_institution }}</dd>
  <dt class="col-sm-2">Primary?</dt> <dd class="col-sm-9">{{ object.signed_agreement.is_primary }}</dd>
  <dt class="col-sm-2">Agreement version</dt> <dd class="col-sm-9">
    <a href="{{ object.signed_agreement.version.get_absolute_url }}">{{ object.signed_agreement.version }}</a>
  </dd>
  <dt class="col-sm-2">Date signed</dt> <dd class="col-sm-9">{{ object.signed_agreement.date_signed }}</dd>

  <dt class="col-sm-2">Study site</dt> <dd class="col-sm-9">
    <a href="{{ object.study_site.get_absolute_url }}">{{ object.study_site }}</a>
  </dd>
  <dt class="col-sm-2">AnVIL access group</dt><dd class="col-sm-9">
    <a href="{{ object.signed_agreement.anvil_access_group.get_absolute_url }}">{{ object.signed_agreement.anvil_access_group }}</a>
  </dd>

<hr>
  <dt class="col-sm-2">Date created</dt> <dd class="col-sm-9">{{ object.created }}</dd>
  <dt class="col-sm-2">Date modified</dt> <dd class="col-sm-9">{{ object.modified }}</dd>

</dl>
{% endblock panel %}
