{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signed Agreement status update{% endblock title %}

{% block panel %}
<dl class="row">
  <dt class="col-sm-2">Coordinating Center ID</dt> <dd class="col-sm-9">{{ object.cc_id }}</dd>
  <dt class="col-sm-2">Representative</dt> <dd class="col-sm-9">
    <a href="{{ object.representative.get_absolute_url }}">{{ object.representative.name }}</a>
  </dd>
  <dt class="col-sm-2">Representative role</dt> <dd class="col-sm-9">{{ object.representative_role }}</dd>
  <dt class="col-sm-2">Signing institution</dt> <dd class="col-sm-9">{{ object.signing_institution }}</dd>
  <dt class="col-sm-2">Primary?</dt> <dd class="col-sm-9">{{ object.is_primary }}</dd>
  <dt class="col-sm-2">Agreement version</dt> <dd class="col-sm-9">
    <a href="{{ object.version.get_absolute_url }}">{{ object.version }}</a>
  </dd>
  <dt class="col-sm-2">Date signed</dt> <dd class="col-sm-9">{{ object.date_signed }}</dd>

  <dt class="col-sm-2">Agreement group</dt> <dd class="col-sm-9">
    <a href="{{ object.study_site.agreement_group.get_absolute_url }}">{{ object.agreement_group }}</a>
  </dd>
  <dt class="col-sm-2">AnVIL access group</dt><dd class="col-sm-9">
    <a href="{{ object.anvil_access_group.get_absolute_url }}">{{ object.anvil_access_group }}</a>
  </dd>
</dl>
{% endblock panel %}

{% block after_panel %}
<div class="container m-3">
  <form method="post">

    {% csrf_token %}
    {{ form|crispy }}
    {{ formset|crispy }}

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
{% endblock after_panel %}


{% block inline_javascript %}
  {{ form.media }}
{% endblock inline_javascript %}
