{% extends "anvil_consortium_manager/__object_detail.html" %}
{% load render_table from django_tables2 %}

{% block title %}Study: {{ object.short_name }}{% endblock %}


{% block panel %}
  <ul>
    <li>Short name: {{ object.short_name }}</li>
    <li>Full name: {{ object.full_name }}</li>
    <li>Date created: {{ object.created }}</li>
    <li>Date modified: {{ object.modified }}</li>
  </ul>
{% endblock panel %}

{% block after_panel %}
  <h3>dbGaP workspaces</h3>
  {% render_table dbgap_workspace_table %}
{% endblock after_panel %}
