{% extends "anvil_consortium_manager/base.html" %}
{% load crispy_forms_tags %}

{% block title %}New study{% endblock %}


{% block content %}

<h1>New study</h1>

<p>Please refer to the <a href="https://docs.google.com/spreadsheets/d/1ym3RA54Pz1Kdut5JvRJpjfrFt191IJ1sEXUhNNRMiaI/edit#gid=0">Study/Site Inventory</a> when entering study information.</p>

  <form method="post">

    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Save study</button>
  </form>

{% endblock content %}
