-c requirements.txt
-c test-requirements.txt

# Interactive debugging.
ipdb  # https://github.com/gotcha/ipdb

# Type checking
# ------------------------------------------------------------------------------
mypy  # https://github.com/python/mypy
django-stubs>=4.2,<5.0  # https://github.com/typeddjango/django-stubs
types-requests

# Documentation
# ------------------------------------------------------------------------------
sphinx  # https://github.com/sphinx-doc/sphinx
sphinx-autobuild # https://github.com/GaretJax/sphinx-autobuild

# Code quality
# ------------------------------------------------------------------------------
# flake8  # https://github.com/PyCQA/flake8
# flake8-isort  # https://github.com/gforcada/flake8-isort
# black  # https://github.com/psf/black
# pylint-django  # https://github.com/PyCQA/pylint-django
pre-commit  # https://github.com/pre-commit/pre-commit
ruff  # https://github.com/astral-sh/ruff

# Django
# ------------------------------------------------------------------------------
django-debug-toolbar  # https://github.com/jazzband/django-debug-toolbar

Werkzeug # https://github.com/pallets/werkzeug
