# For dependency management
pip-tools

# Middleware for whitenoise/static files.
whitenoise  # https://github.com/evansd/whitenoise
oauthlib  # https://github.com/oauthlib/oauthlib

# Password hashing
argon2-cffi # https://github.com/hynek/argon2_cffi

# Django
# ------------------------------------------------------------------------------
django>=4.2,<5.0  # https://www.djangoproject.com/
# Read from .env files
# Pin to <= 0.10.0 because 0.11+ introduces a bug with reading environment variables with # characters.
django-environ<=0.10.0  # https://github.com/joke2k/django-environ
# Turn on and off maintenance mode.
# 0.21.1 fixes a bug with permissions of the maintenance mode file.
django-maintenance-mode>=0.21.1 # https://github.com/fabiocaccamo/django-maintenance-mode
# Model utilities
django-model-utils  # https://github.com/jazzband/django-model-utils
# login/auth using Drupal or other SocialApplications.
django-allauth  # https://github.com/pennersr/django-allauth
# Nicer forms.
django-crispy-forms  # https://github.com/django-crispy-forms/django-crispy-forms
# Bootstrap5 templates for crispy-forms
crispy-bootstrap5  # https://github.com/django-crispy-forms/crispy-bootstrap5
# Protect all views behind LoginRequired by default.
django-login-required-middleware # https://github.com/CleitonDeLima/django-login-required-middleware
# Back up the database before migrations/updates.
django-dbbackup # https://github.com/jazzband/django-dbbackup
# For time stamped models.
django-extensions  # https://github.com/django-extensions/django-extensions

# anvil_consortium_manager
django-anvil-consortium-manager @ git+https://github.com/UW-GAC/django-anvil-consortium-manager.git@v0.22

# Simple history - model history tracking
django-simple-history

# Making HTTP requests to get dbgap study versions.
requests

# For json schema validation.
jsonschema

# For interacting with drupal json api
jsonapi-requests

# For tree structures
django-tree-queries

# For parsing DUO OWL files
pronto

# mysql
mysqlclient # https://github.com/PyMySQL/mysqlclient

# pandas for data summaries
pandas

# for exporting django-tables2 tables to tsv.
tablib

# for htmx
django-htmx

# Temporary(?) pins to fix security alerts.
certifi>=2023.7.22
urllib3>=1.26.18
sqlparse>=0.4.4

# Dynamic settings
django-constance
django-picklefield  # Required by django-constance for database backend
