# For dependency management
pip-tools

pytz  # https://github.com/stub42/pytz
python-slugify  # https://github.com/un33k/python-slugify
Pillow  # https://github.com/python-pillow/Pillow
argon2-cffi  # https://github.com/hynek/argon2_cffi
whitenoise  # https://github.com/evansd/whitenoise
redis  # https://github.com/andymccurdy/redis-py
hiredis  # https://github.com/redis/hiredis-py
oauthlib  # https://github.com/oauthlib/oauthlib

# Django
# ------------------------------------------------------------------------------
django>=3.2,<4.0  # pyup: < 3.3  # https://www.djangoproject.com/
django-environ  # https://github.com/joke2k/django-environ
django-maintenance-mode # https://github.com/fabiocaccamo/django-maintenance-mode
django-model-utils  # https://github.com/jazzband/django-model-utils
django-allauth  # https://github.com/pennersr/django-allauth
django-crispy-forms  # https://github.com/django-crispy-forms/django-crispy-forms
django-redis  # https://github.com/jazzband/django-redis
django-login-required-middleware # https://github.com/CleitonDeLima/django-login-required-middleware
django-dbbackup # https://github.com/jazzband/django-dbbackup
# For time stamped models.
django-extensions  # https://github.com/django-extensions/django-extensions

# anvil_consortium_manager
django-anvil-consortium-manager @ git+https://github.com/UW-GAC/django-anvil-consortium-manager.git@v0.20.1

# Simple history - model history tracking
django-simple-history

# Making HTTP requests to get dbgap study versions.
requests

# For json schema validation.
jsonschema

# For tree structures
django-tree-queries

# For parsing DUO OWL files
pronto

# mysql
mysqlclient # https://github.com/PyMySQL/mysqlclient

# pandas for data summaries
pandas

# for exporting django-tables2 tables to tsv.
tablib


# Temporary(?) pins to fix security alerts.
certifi>=2023.7.22
urllib3>=1.26.18
