-c requirements.txt

# Pytest
pytest  # https://github.com/pytest-dev/pytest
# Parallelized tests
pytest-xdist  # https://github.com/pytest-dev/pytest-xdist
# Coverage integrated with pytest
pytest-cov
# Pytest improvements - progress bar, etc.
pytest-sugar  # https://github.com/Frozenball/pytest-sugar
# Mock HTTP responses
responses  # https://github.com/getsentry/responses
# Factories to create Django objects.
factory-boy  # https://github.com/FactoryBoy/factory_boy
# Django plugin for pytest.
pytest-django  # https://github.com/pytest-dev/pytest-django
# Test migrations.
django-test-migrations
# Freeze time in tests.
freezegun  # https://github.com/spulec/freezegun
# Coverage of django templates
django-coverage-plugin  # https://github.com/nedbat/django_coverage_plugin
# Test coverage.
coverage
# Mock json api data
marshmallow-jsonapi
