name: Update pip-tools requirements files
on:
  pull_request:
    branches: [ "main" ]

permissions:
  pull-requests: write
  contents: write

jobs:
  update-requirements-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.head_ref }}
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.12"

      - name: Update requirements files
        uses: UW-GAC/pip-tools-actions/update-requirements-files@v0.2
        with:
          requirements_files:  |-
            requirements/requirements.in
            requirements/test-requirements.in
            requirements/dev-requirements.in
          pr-title: Update requirements file for ${{ github.head_ref }}
          pr-branch-suffix: "${{ github.event.number}}"
